import /init.recovery.project.rc
import /init.recovery.gq5012bf1.security.rc
import /init.recovery.gq5012bf1.usb.rc

on init
    setprop sys.usb.configfs 1
    setprop sys.usb.controller "11201000.usb0"

    # Main 1080x2400 touchscreen - FocalTech FT3680 on SPI3.
    # Dependencies are loaded by the stock PLATFORM recovery module list.
    insmod /lib/modules/focaltech_touch_spi_ft3680.ko

on fs && property:ro.debuggable=0
    # distinguish USB shoulde connect or not, i.e. CDP vs SDP
    # set charging free due to it wait for USB activation

on boot
    exec u:r:update_engine:s0 root root -- /system/bin/mtk_plpath_utils
